body {
    background-color: #262a43;
}

.icons {
    margin-top: 150px;
    display: flex;
    gap:50px;
    justify-content: center;
}

.icon {
    background-color: #3a3f5d;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    align-items: center;
    transition-duration: 0.3s;
}

h1 {
    color: white;
    margin-top: 100px;
    font-size:50px;
    text-align: center;
}

img {
    background-color: white;
    border-radius: 10px;
    height:150px;
    width: 150px;
    display: flex;
    align-items: center;
    margin: 3px;
}

.icon:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.icontxt {
    margin-top: 0px !important;
    margin-bottom: 0px;
    user-select: none;
}